SERVICE_NAME=account
APP_ENV=dev

GRPC_PORT=50051
GRPC_HOST=localhost
LOG_LEVEL=debug

DB_DSN=postgres://postgres:postgres@localhost:5432/account?sslmode=disable

KAFKA_BROKER_HOST='localhost:29092'
KAFKA_CONSUMER_GROUP=consumer-account
KAFKA_TRANSACTION_TOPIC=transaction_request